*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

.stack 
{
    display: grid;
    grid-template-areas: 'stack';
    width: 20rem;
    height: 20rem;
}

.stack > img
{
    grid-area: stack;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / .2);
    border: solid .5rem white;
    border-bottom: solid 2rem white;
    border-radius: .5rem;

    transition: transform 200ms;
}

.stack > img:nth-child(1)
{
    transform: 
        rotate(5deg)
        translateX(1.25rem)
        translateY(-1.25rem);
}


.stack > img:nth-child(2)
{
    transform: 
        rotate(-10deg)
        translateX(-1.25rem);
}

.stack > img:nth-child(3)
{
    transform: 
        rotate(0deg);
}

.stack:hover >img:nth-child(1)
{
    transform: 
        rotate(10deg)
        translateX(15.25rem)
        translateY(-4rem);
}

.stack:hover >img:nth-child(2)
{
    transform: 
        rotate(-10deg)
        translateX(-15.25rem)
        translateY(-4rem);
}

.stack:hover >img:nth-child(3)
{
    transform: 
        rotate(0deg)
        translateY(-4rem);
}